<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rider Soul Builder</title>
    <link rel="icon" href="/icon.png" type="image/png">
<!--
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/toggle_switch.css">
-->
</head>
<body>

    <div class="content">

        <div class="builder">

            <div class="title">
                <h1>Driver Soul Builder</h1>
                <h2>Drive as you are !</h2>
                <img src="/Mario.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis sapiente, consectetur adipisci ut tenetur voluptatum iste at velit incidunt repellat dignissimos optio, ea fugiat obcaecati voluptates totam, natus labore. Mollitia?</p>
            </div>

            <div class="question">
                <h3>Want a specific character ?</h3>
                <div class="button">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="dropdown">
                    <select name="character">

                            <% for(const character of characters){ %>
                                <option><%= character %></option>
                            <% } %>
                    </select>
                </div>

                <h3>Want a specific kart ?</h3>
                <div class="button">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="choice">
                    <select name="kart">
                        <option value="1">Standard Kart</option>
                        <option value="2">Pipe Frame</option>
                        <option value="3">Mach 8</option>
                        <option value="4">Steel Driver</option>
                        <option value="5">Cat Cruiser</option>
                        <option value="6">Circuit Special</option>
                        <option value="7">Tri-Speeder</option>
                        <option value="8">Badwagon</option>
                        <option value="9">Prancer</option>
                    </select>
                </div>
            </div>




        </div>




    </div>


</body>
</html>
